# 1. no leading slash
# 2. `make validate_routes` for testing sample cases

service1:
  patterns:
    - k1/int:v1/k2/alpha:v2
  samples:
    - k1/123/k2/xyz

service2:
  patterns:
    - k1/(?P<v1>.*?)/k2/(?P<v2>.*?)
  samples:
    - k1/123/k2/xyz
