default_chain:
    - RequestMaker
    - RequestMakerFile
    - Renderer
    - ResponseMaker
    - RequestMakerMongo
    - RequestParserJson

# ------------------------------------------------------------------------------
# fooo

#fooo_chain:
#    - Foo
#fooo:
#    - RequestMaker
#    - ResponseMaker
#    - TestNode
